
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {

  background-color: grey;
}

/* Styling the Body element i.e. Color,
      Font, Alignment */
      body {
        padding-top: 20px;
        background-color: #8f9fd7;
        font-family: Verdana;
        text-align: center;
    }

    /* Styling the Form (Color, Padding, Shadow) */
    form {
        border-radius: 25px;
        background-color: #fff;
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }

    /* Styling form-control input,
    select, textarea */
    .form-control input,
    .form-control select,
    .form-control textarea {
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
    }

    /* Styling Button */
    button {
      background-color: #6154f0;
      border: 1px solid #777;
      border-radius: 10px;
      font-family: inherit;
      font-size: 21px;
      color: aliceblue;
      display: block;
      width: 100%;

      margin-top: 50px;
      margin-bottom: 20px;
  }


    /* Flexbox from Adoption */
    .parent {
      height: 500px;
      display: flex;
      flex-direction: row;
     background-color: hotpink;
      justify-content: space-evenly;
      align-content: center;
  }
 
  
  .child {
      width: 100px;
      height: 100px;
      /* background-color: aquamarine; */
      padding-right: 1rem;
      display: none;
  }

    .div1  {
      background-color: red;
        
  }

    .div2  {
      background-color: lightblue;
  }

    .div3  {
      background-color: greenyellow;
      padding-right: 0;
  }

    img {
      width: 100px;
      height: 100px;
  }

  *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
  }
  body{
      padding:0;
      margin:0;
      background:#808080;
     font-family: 'Open Sans', sans-serif;
     width:100%;
      height:100%;
    }
    img{
      display:block;
      max-width:100%;
    }
    #wrap{
      width:40%;
      height:100%;
      background:#fff;
      display:block;
      margin:20px auto;
      min-width:300px;
      display: none;
    }
    .product_grid{
      display:block;
      float:left;
      margin-bottom:30px;
    }
    .column_1{
      width:100%;
      background:#fff;
      position:relative;
    }
    .product_img{
      width:100%;
      height:320px;
      background:url('img/Doge.jpg')0% 40%;
      background-size:cover;
    }
    .product_details{
      transition:all .9s linear;
      background:rgba(0,0,0,0.3);
      position:absolute;
      bottom:0;
      width:0px;
      height:0px;
      overflow:hidden;
      opacity:0;
      color:#FFF;
    }
  .column_6:hover .product_details,
  .column_5:hover .product_details,
  .column_4:hover .product_details,
  .column_3:hover .product_details,
  .column_2:hover .product_details,
  .column_1:hover .product_details{
    width:100%;
    height:100%;
    right:0;
    opacity:1;
    padding:1em;
    
  }
  .action{
    width:50%;
    margin:10px auto;
  }
  .product_details .title,
  .product_details .price{
    font-weight:300;
    line-height:1;
  }
  a.button{
      display:inline-block;
      color:#FFF;
      background:salmon;
      margin:5px 0 0 5%;
      text-align:center;
      width:200px;
      text-decoration:none;
      padding:10px 10px;
      border-radius:2px;
      border-bottom:3px solid #ff6536;
      text-shadow:1px 1px 3px rgba(0,0,0,0.3);
    }
  .column_2{
    width:50%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_2 .action{
    width:44%;
  }
  .product_img_2{
      width:100%;
      height:320px;
      background:url('img/BirthdayDog.jpg')0% 40%;
      background-size:cover;
    }
  .column_3{
    width:33.3333333%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_3 .action{
    width:75%;
    margin:10px auto;
  }
  .column_4{
    width:25%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_5{
    width:20%;
    float:left;
    position:relative;
    background:#fff;
  }
  .column_6{
    width:16.66666666667%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_6 .action,
  .column_5 .action,
  .column_4 .action{
    width:100%;
    margin:10px auto;
  }
  .column_6 .action .button,
  .column_5 .action .button,
  .column_4 .action .button{
    width:100%;
    margin:5px 0 0 0;
  }
  
  .product_img_3{
      width:100%;
      height:320px;
      background:url('img/LookingGoodSpringer.jpg')0% 40%;
      background-size:cover;
    }

  @media (max-width:900px){
    .column_6{
      width:20%;
    }
  }
  @media (max-width:768px){
    .column_6,
    .column_5{
      width:25%;
    }
    .product_desc{
      display:none;
    }
  }
  @media (max-width:600px){
    .column_6,
    .column_5,
    .column_4{
      width:33.3333333333%;
    }
  
    .product_details{
      display:block;
      opacity:1;
      width:100%;
      height:100%;
      padding:1em;
      position:relative;
  }

  .column_1 .action,
  .column_2 .action{
    width:100%;
    margin:10px auto;
  }
  
  .column_2 .action .button,
  .column_1 .action .button{
    width:100%;
    margin:5px 0 0 0;
  }
  @media (max-width:500px){
    
    .column_2{
      width:100%;
    }
  }
}

